/* body {
    margin: 60px auto;
    width: 90%;
    background-color: white;
} */
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li{
    display: inline;
    margin-right: 20px;
    font-size: 2em;
}
a.navlinks {
    text-decoration: none;
    color: #999;
}
a.navlinks:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

div.info {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

div.content {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
  }

  .navbar-nav li a{

  }

  .navbar-nav  li a:hover {
      text-decoration: underline;
  }

  .navbar-nav li.active a {
    color: steelblue !important;
    background-color: inherit!important;
  }