.big {
  font-size: 1.2em;
}

.small {
  font-size: 0.8em;
}

.centered {
  display: flex;
  justify-content: center;
  text-align: center;
}

.centerimg {
  display: block;
  margin: auto;
}

figcaption {
  text-align: center;
}

li {
  margin: 10px 0;
}

.reveal .citation-intext {
  color: var(--r-main-text-color);
}

.filled {
  background-color: var(--color1);
  color: white;
  border-radius: 10px;
}

.title-slide-authorlist {
  display: flex;
  padding: 20px 0;
}

.title-slide-author {
  flex-grow: 1;
}

.title-slide-institutelist {
  display: flex;
  padding: 20px 0;
  font-size: 0.9em;
}

.title-slide-institute {
  flex-grow: 1;
}

.theorem-header {
  background-color: var(--color1);
  color: white;
  padding: 10px;
}

.theorem-content {
  padding: 10px;
}

.theorem-name {
  font-style: italic;
}

.theorem-container {
  border: 3px solid var(--color1);
  border-radius: 10px;
  margin: 0 30px;
}

.bibliography-entry {
  text-indent: -3em;
  padding-left: 3em;
}